<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<style>
    .box{
        padding: 100px 0px;
        width: 400px;
        text-align: center;
        background-color: #ddd;
        margin: 20px;
        display: inline-block;
    }
</style>
<body>
    <h1>hello, vue</h1>

<div id="app">
    <div v-if="showBooks">
        <p>{{ title }} - {{ author }} - {{ age }}</p>

        <ul>
            <li v-for="book in books">
                <h3>{{ book.title }}</h3>
                <p>{{ book.author }}</p>
            </li>
        </ul>

    </div>

    <button @click="toggleShowBooks">
        <span v-if="showBooks">hide books</span>
        <span v-else>show books</span>
    </button>

    <div v-show="showBooks">currently showing books</div>

    <br>
    <!-- mouse events -->
    <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
    <div class="box" @mouseleave="handleEvent">mouseleave</div>
    <div class="box" @dblclick="handleEvent">double click</div>
    <div class="box" @mousemove="handleMousemove">position - {{ x }} {{ y }}</div>

</div>

    <script src="../vue-video-filip/app.js"></script>
</body>
</html>